In [1]:
import sys
import pandas as pd

sys.path.insert(1, '../')

Let's demonstrate in this  how to import datasets and check some information about them.

# Combines state monitoring dataset

### Importing

In [2]:
from tsad.datasets import load_combines

dataset = load_combines()

### Dataset info

In [3]:
dataset.name

'Combines state monitoring'

In [4]:
dataset.description

''

In [5]:
dataset.task

''

In [6]:
dataset.feature_names

['Anker', 'Cut', 'Go', 'Uncert']

In [7]:
dataset.target_names

### Dataset

In [8]:
dataset.frame.head(2)

Описание                 Anker  Cut   Go  Uncert
Время
2023-04-21 13:32:48.228    0.0  NaN  NaN     NaN
2023-04-21 13:32:48.230    NaN  NaN  0.0     NaN

# SKAB (skoltech anomaly benchmark) teaser

### Importing

In [9]:
from tsad.datasets import load_skab_teaser

dataset = load_skab_teaser()

### Dataset info

In [10]:
dataset.name

'SKAB (skoltech anomaly benchmark) teaser'

In [11]:
dataset.description

'Dataset for process monitoring (changepoint detection) benchmarking. It is just a short version (teaser) of SKAB'

In [12]:
dataset.task

'Process monitoring (changepoint detection)'

In [13]:
dataset.feature_names

['Accelerometer1RMS',
 'Accelerometer2RMS',
 'Current',
 'Pressure',
 'Temperature',
 'Thermocouple',
 'Voltage',
 'Volume Flow RateRMS']

In [14]:
dataset.target_names

### Dataset

Dataset has separate markup (labels). Dataset itself:

In [15]:
dataset.frame[0].head(2)

id,Accelerometer1RMS,Accelerometer2RMS,Current,Pressure,Temperature,Thermocouple,Voltage,Volume Flow RateRMS
datetime,,,,,,,,
2019-07-08 17:02:14,0.04283,0.080612,0.000749,-0.273216,28.2099,23.4457,252.743,37.0242
2019-07-08 17:02:32,0.04333,0.084116,0.000849,0.054711,28.3486,23.4492,240.488,37.0000

Labels:

In [16]:
dataset.frame[1]

[('2019-07-08 18:39:22', '2019-07-08 18:42:32'),
 ('2019-07-08 18:44:36', '2019-07-08 18:46:51'),
 ('2019-07-08 19:06:57', '2019-07-08 19:11:31'),
 ('2019-07-08 19:14:40', '2019-07-08 19:21:16')]

# NASA Turbofan Jet Engine Data Set

### Importing

In [17]:
from tsad.datasets import load_turbofan_jet_engine

dataset = load_turbofan_jet_engine()

### Dataset info

In [18]:
dataset.name

'NASA Turbofan Jet Engine Data Set'

In [19]:
print(dataset.description)

Dataset includes Run-to-Failure simulated data from turbo fan jet engines. In this dataset the goal is to predict the remaining useful life (RUL) of each engine in the test dataset. RUL is equivalent of number of flights remained for the engine after the last datapoint in the test dataset.
    - In train dataset there are 100 engines. The last cycle for each engine represents the cycle when failure had happened.
    - In test dataset there are 100 engines as well. But this time, failure cycle was not provided.

In [20]:
dataset.task

'Remaining useful life prediction'

In [21]:
dataset.feature_names

['id',
 'cycle',
 'setting1',
 'setting2',
 'setting3',
 's1',
 's2',
 's3',
 's4',
 's5',
 's6',
 's7',
 's8',
 's9',
 's10',
 's11',
 's12',
 's13',
 's14',
 's15',
 's16',
 's17',
 's18',
 's19',
 's20',
 's21']

In [22]:
dataset.target_names

['ttf']

### Dataset

Dataset has separate X_train, X_test and y_test.

X_train:

In [23]:
dataset.frame[0].head(2)

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236

X_test:

In [24]:
dataset.frame[1].head(2)

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916

y_test:

In [25]:
dataset.frame[2].head(2)

   ttf
0  112
1   98